<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.dao.SpeakerMapper">
    <resultMap id="resultSpeaker" type="com.me.pojo.Speaker">
        <id column="id" property="id"/>
        <result column="speaker_name" property="speakerName"></result>
        <result column="speaker_desc" property="speakerDesc"></result>
        <result column="speaker_job" property="speakerJob"></result>
        <result column="head_img_url" property="headImgUrl"></result>
    </resultMap>
    <select id="findAll" parameterType="com.me.pojo.QueryVo" resultMap="resultSpeaker">
        select id, speaker_name, speaker_desc, speaker_job, head_img_url from speaker limit #{start}, #{size}
    </select>

    <select id="selectAll" resultMap="resultSpeaker">
        select id, speaker_name, speaker_desc, speaker_job, head_img_url from speaker
    </select>

    <select id="count" resultType="int">
        select count(*) from speaker
    </select>

    <delete id="deleteSpeakerById" parameterType="int">
        delete from speaker where id = #{id}
    </delete>

    <insert id="addSpeaker" parameterType="com.me.pojo.Speaker">
        insert into speaker(speaker_name, speaker_desc, speaker_job) values (#{speakerName}, #{speakerDesc}, #{speakerJob})
    </insert>

    <select id="selectById" parameterType="int" resultMap="resultSpeaker">
        select * from speaker where id = #{id}
    </select>

    <update id="updateSpeaker" parameterType="com.me.pojo.Speaker">
        UPDATE
        speaker
        SET
        speaker_name = #{speakerName},
        speaker_desc = #{speakerDesc},
        speaker_job = #{speakerJob},
        head_img_url = #{headImgUrl}
        WHERE
        id = #{id};
    </update>
</mapper>